<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Book</title>
</head>
<body>
	<h1>Add Player</h1>
	
	<ul th:each="player: ${players}">
			<li th:text="${player.firstName} ">Friend name</li>
		</ul>
	<div>
		<form action="#" th:action="@{/add}"  th:object= "${player}" method="post">
		<table>
		<tr>
			<td>Name: <input type="text" th:field="${player.firstName}" /></td>
		</tr>
	</table>
	<input type="submit" value="Submit" />
	</form>
	</div>
</body>
</html>