<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome!</title>

</head>
<body style="background-color:rgb(255, 223, 185);">
	<h1>Welcome to the index page [[${#httpServletRequest.remoteUser}]]!</h1>


	
	<table class="table table-striped">


		<tr>
			<th>Teams</th>
			<th>Players</th>
			<th>Sports</th>
		</tr>

		<tr>
			<td><a href="/teams" class="btn btn-success">Teams</a> <a
				href="/addTeam" class="btn btn-success">Add a Team</a></td>

			<td><a href="/players" class="btn btn-success">Players</a> <a
				href="/addPlayer" class="btn btn-success">Add a Player</a></td>

			<td><a href="/sports" class="btn btn-success">Sports</a> <a
				href="/addSport" class="btn btn-success">Add a Sport</a></td>
		</tr>
	</table>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
	</div>
</body>

</html>