<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Players</title>
</head>

<body>
<div class="col-md-4">
<h1>Players</h1>
</div>

<div class="col-md-4">
		
	</div>
<table class="table table-striped">
	<tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Player number</th>
	</tr>
	
	<tr th:each = "player : ${players}">
		<td th:text="${player.firstName}"></td>
		<td th:text="${player.lastName}"></td>
		<td th:text="${player.playerNum}"></td>
	
	</tr>	
	
</table>
	
	
	
		
       
	 
</body>
</html>