<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sports</title>
</head>

<body>
<div class="col-md-4">
<h1>Sports</h1>
</div>

<div class="col-md-4">
		
	</div>
	<div class="col-md-4" style="padding:20px 0">
		
		</div>
		
       
	 
</body>
</html>