<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teams</title>
</head>

<body>
<div class="col-md-4">
<h1>Teams</h1>
</div>

	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
		</div>
	
<table class="table table-striped">
	<tr>
		
		<th>Team name</th>
		
	</tr>
	
	<tr th:each = "team : ${teams}">
		
		<td th:text="${team.name}"></td>
	
	
	</tr>	
	
</table>
	
		
       
	 
</body>
</html>