<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teams</title>
</head>

<body style="background-color:rgb(255, 223, 185);">
	<div class="col-md-4">
		<h1>Teams</h1>
		<a th:href="@{/index}" class="btn btn-primary">Index Page</a>
	</div>



	<table class="table" id="myTable">
		<thead class="thead-dark">
			<tr>

				<th onclick="sortTable('0')">Team name</th>
				<th onclick="sortTable('1')">Sport</th>
				<th onclick="sortTable('2')">Players</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
		</thead>
		<tr th:each="team : ${teams}">

			<td th:text="${team.name}"></td>
			<td th:text="${team.sport}"></td>
			<td><a th:href="@{/teams/{id}/players(id=${team.teamId})}"
				>Players</a></td>
				
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/deleteTeam/{id}(id=${team.teamId})}"
				class="btn btn-danger"
				onclick="return confirm('Are you sure you want to Delete this?')">Delete</a></td>



		</tr>

	</table>

	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
	</div>

<script>
		function sortTable(num) {
			var table, rows, switching, i, x, y, shouldSwitch;
			table = document.getElementById("myTable");
			switching = true;
			while (switching) {
				switching = false;
				rows = table.rows;
				for (i = 1; i < (rows.length - 1); i++) {
					shouldSwitch = false;
					x = rows[i].getElementsByTagName("TD")[num];
					y = rows[i + 1].getElementsByTagName("TD")[num];
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						shouldSwitch = true;
						break;
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
				}
			}
		}
	</script>

</body>
</html>